:host {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: flex-start;
}

.list {
  display: flex;
  flex: 0;
  height: calc(100vh - 56px);
  min-width: 300px;
  width: 300px;
  border-right: 1px solid #ccc;
  flex-direction: column;
  align-content: stretch;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px -2px 8px 4px rgba(0, 0, 0, 0.2);
  background: white;
}

.list:last-child {
  flex: 1;
}

.info-block {
  padding: 16px;
}

.info-block:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

:host {
  flex: 1
}
